@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Add your font here */
  --font-fraunces: "Fraunces", "Georgia", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Set as default sans font */
  --font-sans: var(--font-fraunces);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* Apply font */
  /* font-family: var(--font-fraunces); */
}

.abc {
  border: black solid 2px;
}

.def {
  border: red solid 2px;
}